<div class="row justify-content-center mb-5">
   <div class="d-flex justify-content-center mb-4">
     <h1>Agrega un nuevo gasto</h1>
   </div>
   
   <form class="p-4 col-11 col-md-8 col-lg-6 row justify-content-center needs-validation" id="formAgregar" novalidate>
 
     <div class="col-12 mb-3">
       <label for="selectCategoria" class="form-label">Categoría</label>
       <select class="form-select" aria-label="Default select example" id="selectCategoria" name="Categoria" title="Categoría" required>
        <option value="" selected disabled hidden>Seleccione una categoría</option>
        <option value="1">Categoria 1</option>
        <option value="2">Categoria 2</option>
        <option value="3">Categoria 3</option>
      </select>
     </div>
 
     <div class="col-12 col-lg-6 mb-3">
       <label for="inputMonto" class="form-label">Monto</label>
       <input type="number" class="form-control" id="inputMonto" placeholder="0000.00" min="0" step="any" name="Monto" title="Monto" required>
 
     </div>
 
     <div class="col-12 col-lg-6  mb-3">
       <label for="" class="form-label">Moneda</label>
       <div class="row d-flex h-50 align-content-center justify-content-center">
 
         <div class="col-6 col-lg-6">
           <div class="form-check">
             <input class="form-check-input" type="radio" value="RD$" name="Moneda" id="inputMonedaRD" checked required>
             <label class="form-check-label" for="inputMonedaRD">
               RD$
             </label>
           </div>
         </div>
 
         <div class="col-6 col-lg-6">
           <div class="form-check">
             <input class="form-check-input" type="radio" value="US$" name="Moneda" id="inputMonedaUS" required>
             <label class="form-check-label" for="inputMonedaUS">
               US$
             </label>
           </div>
         </div> 
       </div>
       
       <!-- <select class="form-select" aria-label="Default select example" id="selectMoneda" name="Moneda" title="Moneda">
         <option selected value="RD$">RD$</option>
         <option value="US$">US$</option>
         <option value="EU$">EU$</option>
       </select> -->
     </div>
 
     <div class="col-12 mb-3">
       <label for="inputFecha" class="form-label">Fecha</label>
       <input type="date" class="form-control" id="inputFecha" placeholder="dd/mm/aaaa" name="Fecha" title="Fecha" required>
     </div>
 
     <div class="col-12 mb-3">
       <label for="textareaDescripcion" class="form-label">Descripción</label>
       <textarea class="form-control" placeholder="Una descripción breve" id="textareaDescripcion" maxlength="100" style="height: 100px; resize: none;" name="Descripcion" title="Descripción" required></textarea>
     </div>
 
     <div class="d-flex justify-content-center">
       <button id="btnAgregar" type="submit" class="btn btn-primary" title="Guardar Gasto">Guardar</button>
     </div>
 
   </form>
 
   <div class="col-12 row justify-content-center">
     <div class="col-5" id="contentAlertAgregar">
           
     </div>
     
   </div> 
   
 </div>