<div class="row justify-content-center">

  <div class="col-11 mb-4 ">
    <div class="row justify-content-center">
      <div class="card card-gastos col-md-9 col-lg-9 p-3">
        <div class="row">
          <div class="col-12 col-md-6 mb-4">
            <h3 class="card-title">Categoria</h3>
            <select class="form-select selectCategoria" aria-label="Default select example" id="selectCategoria" name="Categoria"
              title="Categoría">
              <option selected disabled hidden>Seleccione una categoría</option>
            </select>
          </div>

          <div class=" col-12 col-md-6">
            <h3 class="card-title">Monto</h3>
            <p class="p-0 m-0"><span>0 </span>&#x0003C;<span> 999</span></p>
            <input type="range" class="form-range" name="" id="">
          </div>

          <div class="col-12 col-md-6">
            <h3 class="card-title">Moneda</h3>
            <select name="moneda" id="selectMoneda" class="form-select">
              <option value="RD">RD</option>
              <option value="USD">USD</option>
              <option value="EUR">EUR</option>
            </select>
          </div>
        </div>
      </div>
    </div>

  </div>

  <h3>Total: <apan id="cantidadGastos">0</apan>
  </h3>

  <div class="row" id="contentGastos">
    
  </div>

</div>