<div class="">

   <div class="row justify-content-center mb-5">
 
     <div class="col-12 col-md-6 mb-4" title="Mis Gastos">
       <a href="#gastos" class="card card-home text-decoration-none">
         <img src="./assets/img/gastos.svg" class="mt-4" height="175" alt="Gastod">
         <div class="card-body text-center">
           <h3 class="card-title">Mis Gastos</h3>
           <p class="card-text">Ver el listado de todos mis gastos</p>
         </div>
       </a>
     </div>
 
     <div class="col-12 col-md-6 mb-4 " title="Mis Ingresos">
       <a href="#" class="card card-home text-decoration-none">
         <img src="./assets/img/ingresos.svg" class="mt-4" height="175" alt="Ingresos">
         <div class="card-body text-center">
           <h3 class="card-title">Mis Ingresos</h3>
           <p class="card-text ">Ver el listado de todos mis ingresos</p>
         </div>
       </a>
     </div>
     
   </div>
 
 </div>
  
 <div class=" pt-3" id="contentInfo10Gastos">
   <div class="d-flex justify-content-center mb-3">
     <h2 class="subtitle pe-3 ps-3" id="title10Gastos">Gastos</h2>
   </div>
    
   <div class="row justify-content-center" id="content10Gastos">
 
   </div>
 
 </div>