<div class="">

   <div class="row justify-content-center mb-5">
 
     <div class="col-12 col-md-6 mb-4" title="Mis Gastos">
       <a href="#gastos" class="card card-home text-decoration-none">
         <img src="./assets/img/gastos.svg" class="mt-4" height="175" alt="Gastod">
         <div class="card-body text-center">
           <h3 class="card-title">Mis Gastos</h3>
           <p class="card-text">Ver el listado de todos mis gastos</p>
         </div>
       </a>
     </div>
 
     <div class="col-12 col-md-6 mb-4 " title="Mis Ingresos">
       <a href="#" class="card card-home text-decoration-none">
         <img src="./assets/img/ingresos.svg" class="mt-4" height="175" alt="Ingresos">
         <div class="card-body text-center">
           <h3 class="card-title">Mis Ingresos</h3>
           <p class="card-text ">Ver el listado de todos mis ingresos</p>
         </div>
       </a>
     </div>
     
   </div>
 
 </div>
  
 <div class=" pt-3">
   <!-- <div class="d-flex justify-content-center mb-3">
     <h2 class="subtitle pe-3 ps-3">Ultimos 10 Gastos</h2>
   </div> -->
   <div class="d-flex justify-content-center mb-3">
     <h2 class="subtitle pe-3 ps-3">Gastos</h2>
   </div>
    
   <div class="row justify-content-center">
 
     <!-- <div class="col-12 col-md-4 col-lg-3 mb-3">
       <div class="card card-gastos">
         <div class="card-body ">
           <h4 class="card-title">Categoria</h4>
           <p class="mb-0 "><strong>RD$</strong> 900.00</p>
           <p class="mb-0 float-end">dd/mm/aaaa</p>
         </div>
       </div>
     </div> -->
      
     <div class="col-12 col-md-6  mb-3 text-center">
       <h3>Aun no has agregado algun gasto</h3>
     </div>
 
   </div>
 
   <!-- <div class="d-flex justify-content-center mt-4">
     <button class="btn btn-primary">Ver Todos</button>
   </div> -->
   <div class="d-flex justify-content-center mt-4">
     <button class="btn btn-primary">Agregar Gastos</button>
   </div>
 </div>